<div id="myForm"  class="bg-img">
  <div class="container ">
    <div class="row">
      <div class="col">
        <h1 class="h2 font-weight-heavy  text-center mb-3">Hotel Agape</h1>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6 col-sm-8">
        <!-- nav tabs -->


        <!-- tab panes -->
        <div class="my-tab-content tab-content border p-4">
          <div id="loginForm" class="tab-pane active">
            <form [formGroup]="fLogin">
              <div class="form-group">
                <label for="username">Usuario</label>
                <input type="text" class="form-control" id="username" formControlName="username">
              </div>
              <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password" formControlName="password">
              </div>

              <div class="form-row">

                <div class="col text-right">
                  <button type="submit" class="btn btn-primary" (click)="userLogin()">Log in</button>
                </div>
              </div>

            </form>

          </div>
        </div>
      </div>

</div>


