
<app-header></app-header>



<div class="container">
  <h1>Tabla de Reservaciones </h1>
  <app-clock></app-clock>
  <!-- Filtros -->
  <div class="filters">
    <label for="habitacionFilter">Habitación:</label>
    <select id="habitacionFilter">
      <optgroup label="">
        <option></option>
        <option> suite</option>
        <option> Sencilla</option>
      </optgroup>
    </select>

    <label for="fechaFilter">Fecha:</label>
    <input type="date" id="fechaFilter">
    <label for="fechaFilter">a </label>
    <input type="date" id="fechaFilter2">



    <button >Aplicar Filtros</button>

  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th><h2>Habitación</h2></th>
        <th><h2>CheckIn</h2></th>
        <th><h2>DNI</h2></th>
        <th><h2>Nombre Huesped</h2></th>
        <th><h2>Observaciones</h2></th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor=" let reserva of ActiveReservations | paginate:{
                  id:'pagination_casos',
                  itemsPerPage:10,
                  currentPage:page,
                  totalItems:TotalRows
                 }">
        <td>{{reserva.habitacion}}</td>
        <td id="checkIn">{{reserva.checkin}}</td>
        <td>{{reserva.dni}}</td>
        <td>{{reserva.huesped}}</td>
        <td>{{reserva.observaciones}}</td>
      </tr>


      </tbody>
    </table>
    <pagination-controls id="pagination_casos"  previousLabel="Anterior" nextLabel="Siguiente" (pageChange)=" page=$event ">

    </pagination-controls>
  </div>
</div>




